<from [formGroup]="profile">

  <p>Name: <input type="text" formControlName="name"></p>
  <p>Age: <input type="text" formControlName="age"></p>
  <div formGroupName="address">
    <p>Street: <input type="text" formControlName="street"></p>
    <p>City: <input type="text" formControlName="city"></p>
    <p>Country: <input type="text" formControlName="country"></p>
  </div>

</from>

<button (click)="submit()">Print</button>
<button (click)="reset()">Reset</button>

{{ profile.status }}